@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Stick No Bills', sans-serif;
    height: 100vh;
    background-color: rgb(177, 236, 236);
}

.card {
    position: relative;
    width: 30rem;
    height: 17rem;
    box-shadow: 0rem .5rem 2rem rgb(47, 47, 49);
    transition: all 0.3s ease-in-out;
    padding: 3rem 5rem;
    border-radius: 1.3rem;
    background-color: aliceblue;
    cursor: pointer;
}

.card:hover {
    height: 28rem;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-6rem);
    z-index: 99;
}

.imgbox img {
    width: 100%;
    align-self: center;
    border-radius: 1.3rem;
    box-shadow: 0rem .5rem 2rem rgb(47, 47, 49);
}

.content {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    transform: translateY(-19rem);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover>.content {
    opacity: 1;
    transform: translateY(-17rem);
}

.content h2 {
    color: rgb(42, 124, 124);
}