@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');

/*  */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 195, 229);
    height: 100vh;
    font-family: 'Stick No Bills', sans-serif;
}

.card {
    width: 15rem;
    height: 20rem;
    background-color: rgb(60, 60, 110);
}

.card>.face2 h2 {
    color: white;
    font-size: 5rem;
    transform: translateY(-2rem);
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.card>.face1 {
    opacity: 0;
}


/* card:hover */

.card:hover {
    width: 15rem;
    height: 20rem;
    background-color: azure;
    box-shadow: 0rem .5rem 2rem rgb(47, 47, 49);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(60, 60, 110);
}


/* Face Face2*/

.card:hover>.face2 h2 {
    border: 0.2rem solid rgb(60, 60, 110);
    padding: 1rem;
    border-radius: 5rem;
    color: rgb(60, 60, 110);
    font-size: 1.3rem;
    transform: translateY(-13rem);
}


/* card:hover Face1 Face*/

.card:hover>.face1 {
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(60, 60, 110);
    opacity: 1;
}

.card:hover .face1-item {
    margin: 0.2rem;
}

.card:hover>.face1 p {
    text-align: center;
    font-size: .8rem;
}

.card:hover>.face1 a {
    border: .1rem solid rgb(60, 60, 110);
    text-decoration: none;
    font-size: 0.9rem;
    padding: .2rem .3rem;
}

.card:hover>.face1 a:hover {
    border: .1rem solid rgb(60, 60, 110);
    text-decoration: none;
    font-size: 0.9rem;
    padding: .2rem .3rem;
    background-color: rgb(60, 60, 110);
    color: white;
    border: .1rem solid white;
}